@charset "UTF-8";
/*----------------------Обнулення--------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Consolas;
  src: url("/fonts/CONSOLA.TTF");
  font-weight: normal;
}
@font-face {
  font-family: ConsolasBold;
  src: url("/fonts/CONSOLAB.TTF");
  font-weight: bold;
}
/*---------------------------------------MAIN-----------------------------------------------------------------------------------------*/
body {
  background: linear-gradient(50deg, rgb(131, 131, 253), rgb(169, 107, 107));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Consolas, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .hidden {
  opacity: 0;
}

.container {
  display: flex;
}
.container .main {
  text-align: center;
  flex-grow: 1;
  margin-right: 10%;
}
.container .main textarea {
  resize: none;
}
.container .main .textarea-container {
  position: relative;
  font-size: 15px;
}
.container .main .textarea-container #textarea-overlay {
  text-align: left;
  font-size: 15px;
  position: absolute;
  top: 0.35vh;
  left: 0.3vh;
  pointer-events: none;
  color: #dddddd;
  opacity: 0.3;
  padding: 5px;
  white-space: pre-wrap;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  line-height: 20px;
}
.container .main .textarea-container #textarea-main {
  font-size: 15px;
  border: 2px solid black;
  background-color: rgb(91, 44, 138);
  width: 300px;
  height: 100px;
  padding: 5px;
  line-height: 20px;
}
.container .main .stats {
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
}
.container .main #startButton,
.container .main #newTestButton {
  padding: 13px 20px;
  background-color: rgb(150, 71, 186);
  border-radius: 10%;
  margin: 20px;
  transition: background-color 0.2s ease;
}
.container .main #startButton:hover,
.container .main #newTestButton:hover {
  background-color: rgb(166, 102, 196);
}
.container #language-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  gap: 10px;
}
.container #language-bar input[type=radio] {
  display: none;
}
.container #language-bar label {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(131, 131, 253);
  color: rgb(235, 235, 235);
  font-size: 16px;
  transition: background-color 0.4s ease;
}
.container #language-bar input[type=radio]:checked + label {
  background-color: rgb(169, 107, 107);
}
.container #language-bar label:hover {
  background-color: #555;
}

.header {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: ConsolasBold, sans-serif;
}